body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  text-transform: uppercase;
}

.container-fluid {
  padding: 40px;
}

.alert {
  display: none;
}
