<!DOCTYPE html>
<html>
  <head>
    <title>Shopping List</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/bundle.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script>
    <% if (demo) { %>
      // Use a random demo ID when viewing locally.
      const userId = Math.floor(Math.random() * 4) + 1;
      window.attachApp(userId, <%= listId %>, "<%= socketAddress %>");
    <% } else if (listId) { %>
      window.extAsyncInit = function() {
        MessengerExtensions.getContext(
          '1898084047093164',
          function success(context) {
            window.attachApp(
              context.psid,
              <%= listId %>,
              "<%= socketAddress %>",
              context.thread_type);
          }, function error(err) {
            window.attachApp();
          });
      };
    <% } %>
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
    </script>
  </body>
</html>
